{% extends "base.html" %}

{% block content %}

<h1>New Post</h1>
<form method="post" action="/publish">
	<div class="form-field">
		<label for="title">Title</label>
		<input type="text" name="post-title" id="title" required />
		<span class="error"> {{ error_1 }} </span>
	</div>
	<div class="form-field">
		<label for="body">Text</label>
		<textarea name="post-body" id="body" required ></textarea>
		<span class="error"> {{ error_2 }} </span>
	</div>
	<div class="form-field">
		<input id="btn-submit" type="submit" value="Publish" />
	</div>
</form>

{% endblock %}